body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.container {
  position: fixed;
  float: left;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/SplitShire-7912-1280x854%20copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

._text {
  display: block;
  position: absolute;
  float: left;
  top:40px;
  min-height: 77px;
  font: 400 1em/1.38 Montserrat;
  text-align: center;
  color: rgb(255, 255, 255);
}

._element-2 {
  display: block;
  position: absolute;
  float: left;
  clear: both;
  z-index: 1;
  width: 14.4166666666%;
  height: 36px;
  top:40px;
  left:50px;
  background-image: url('../images/Untitled-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

._text-1 {
  z-index: 3;
  width: 4.75%;
  margin-left: 73.83073%;
}

._text-1:active {
  color: rgb(135, 225, 245);
}

._text-2 {
  z-index: 2;
  width: 4.3333333333%;
  margin-left: 81.4974%;
}

._text-3 {
  z-index: 4;
  width: 4.75%;
  margin-left: 88.83203%;
}

#pg_content{
  top:100px;
  position: absolute;
}
.item{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color:white;
  text-align: center;
}
.eve_img{
  width:40%;
}

a{
  font-size: 30px;
  text-decoration: none;
  color:white;
  font-family: arial;
}